body {
    margin:0;
    background:#f7e6cd;
}
.para{
    text-align:center;
    color:yellow;
}
.navbar {
    overflow: hidden;
    background-color:green;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background: green;
    color: black;
}
.main {
    padding: 16px;
    margin-top: 30px;
    height: auto ;/*1600px;  Used in this example to enable scrolling */
}
#circlein {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    /*box-shadow: 0px -2px 15px #E0FF94;*/
    box-shadow: 1px 1px 15px #E0FF94;
}
.obj {
    justify-content: center;
    height: 100%;
    margin-left: auto;
}
.mic-icon {
    height: 12px;
    position: absolute;
    margin-top:18px;
    margin-left:-6px;
} 
#ans1,#ans2,#ans3,#ans4,#ans5,#ans6{
    color:blue;text-align: center;
}
.center {
    text-align: center;
}

h2 {
    text-align: center;
}
.btn {
    background:green;color:yellow;height:40px;width:200px;margin:auto;display:block;
}
.tieude {
    background:lightgreen;
}
p {
    font-size: 14pt;
}
.f-grid {
    display: flex;justify-content: space-between;margin-left:-0.5rem;flex-flow: row wrap;
}
.f-grid-col {
    flex: 3 0;background-color: rgba(184,245,114,0.883);margin-left: 0.5rem;margin-bottom: 1rem;padding: 1rem;font-size: 14pt;
}
.footer {
    background-color:green;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
